$primary: #006fff;
$secondary: #ff7000;

nav {
    z-index: 2;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 30px;
    .logo {
        color: $primary;
        font-size: 25px;
        font-weight: bolder;
        span {
            color: $secondary;
        }
    }
    .navbar {
        width: 700px;
        height: 100%;
        ul {
            display: flex;
            align-items: center;
            height: 100%;
            padding: unset;
            a {
                list-style: none;
                text-decoration: none;
                padding: 0px 10px;
                color: $primary;
                font-weight: bold;
                transition: ease-in-out 0.1s;
                border-bottom: 2px solid transparent;
            }
            a:hover {
                color: $secondary;
                border-bottom: 2px solid #aaa;
            }
        }
    }
}
main {
    position: relative;
    margin: 60px 0px;
    padding-top: 50px;
    form {
        .form-control {
            border-color: #666;
        }
        .form-text {
            color: #666;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type="number"] {
            -moz-appearance: textfield; /* Firefox */
        }
    }
    .beranda {
        h3 {
            margin: 50px 0px 0px 0px;
        }
        .tanggal {
            color: $secondary;
        }
        .data-indonesia {
            margin: 30px 0px;
            display: flex;
            justify-content: space-around;
            .box {
                width: 250px;
                height: 150px;
                box-shadow: 5px 10px 25px gray;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3 {
                    color: $primary;
                    margin: unset;
                }
                p {
                    font-size: 20px;
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .registrasi {
        width: 100%;
        height: auto;
        padding: 30px;
        margin: 20px 0px;
        border: 1px solid gray;
        border-top: 5px solid $secondary;
        border-radius: 10px;
        background-color: #ddd;
        .card {
            .card-header {
                background-color: $primary;
                font-weight: bolder;
                color: white;
                letter-spacing: 0.5px;
            }
            .card-body {
                background-color: white;
                color: #333;
                padding: 20px 30px;
            }
        }
    }
    .rumah-sakit {
        width: 100%;
        height: auto;
        padding: 30px;
        margin: 20px 0px;
        border: 1px solid gray;
        border-top: 5px solid $secondary;
        border-radius: 10px;
        background-color: #ddd;
        .card {
            .card-header {
                background-color: $primary;
                font-weight: bolder;
                color: white;
                letter-spacing: 0.5px;
            }
            .card-body {
                background-color: white;
                color: #333;
                padding: 20px 30px;
                .dataTables_length {
                    margin-bottom: 30px;
                }
                .dataTables_filter {
                    margin-bottom: 30px;
                }
            }
        }
    }
    .statitiska {
        width: 100%;
        height: auto;
        padding: 30px;
        margin: 20px 0px;
        border: 1px solid gray;
        border-top: 5px solid $secondary;
        border-radius: 10px;
        background-color: #ddd;
        .card {
            .card-header {
                background-color: $primary;
                font-weight: bolder;
                color: white;
                letter-spacing: 0.5px;
            }
            .card-body {
                background-color: white;
                color: #333;
                padding: 20px 30px;
            }
        }
    }
}
footer {
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 15px;
        font-weight: bolder;
        margin: unset;
    }
}
